{% extends "layout/master.html" %} {% load static %} {% block page_title %} Shop
{% endblock %} {% block page_content %}
<main class="wrap">
  <div class="page-head">
    <h1 class="page-title">Shop</h1>
    <span class="count">{{ products|length }} products</span>
  </div>

  <ul class="cards">
    {% for product in products %}
    <li>
      <div class="card-body">
        <p class="card-excerpt">{{ forloop.counter }}</p>
        <h2 class="card-title">{{ product.title }}</h2>
        <p class="card-excerpt">{{ product.price }}</p>
        <p class="card-excerpt">{{ product.category_id.title }}</p>
        <a href="/shop/details/{{ product.slug }}" target="_blank">Show</a>
      </div>
    </li>
    {% endfor %}
  </ul>
</main>

{% endblock %}
